
@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';

body { 
    font-family: 'Kanit', sans-serif;
    background-color: #c5b699;
}
canvas{
    display: block;
    margin: auto;  
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

button{
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    border-radius: 5px;

}
.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h1{
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

h2{
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

h3{
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-top: 0px;
}